<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Link</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>

<div class="container">
<!--cards-->
<div class="row">
  <div class="col-4">
    <app-card [cardTitle]="dataCard[0].cardTitle" [description]="dataCard[0].description" [image]="dataCard[0].image"></app-card>
  </div>

  <div class="col-4">
    <app-card [cardTitle]="dataCard[1].cardTitle" [description]="dataCard[1].description" [image]="dataCard[1].image"></app-card>
  </div>
    
  <div class="col-4">
    <app-card [cardTitle]="dataCard[2].cardTitle" [description]="dataCard[2].description" [image]="dataCard[2].image"></app-card>
  </div>

  <div class="col-4">
    <app-card [cardTitle]="dataCard[3].cardTitle" [description]="dataCard[3].description" [image]="dataCard[3].image"></app-card>
  </div>

  <div class="col-4">
    <app-card [cardTitle]="dataCard[4].cardTitle" [description]="dataCard[4].description" [image]="dataCard[4].image"></app-card>
  </div>

  <div class="col-4">
    <app-card [cardTitle]="dataCard[5].cardTitle" [description]="dataCard[5].description" [image]="dataCard[5].image"></app-card>
  </div>
</div>

<br>

<!-- Form -->
<form>
  <legend>Disabled fieldset example</legend>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre(s)</label>
    <input type="email" class="form-control" id="exampleName" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido(s)</label>
    <input type="text" class="form-control" id="exampleApellido" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="exampleApellido" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="disabledSelect" class="form-label"></label>
    <select id="disabledSelect" class="form-select">
      <option>Nacionalidad</option>
      <option>Mexico</option>
      <option>Canada</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary">Registrar</button>
  <button type="button" class="btn btn-danger">Cancelar</button>

</form>

<br>

<!-- Badges-->
<div class="row">
  <div class="col-7">
    <span class="badge rounded-pill bg-primary">Canada</span>
    <span class="badge rounded-pill bg-secondary">Senegal</span>
    <span class="badge rounded-pill bg-success">Indonesia</span>
    <span class="badge rounded-pill bg-danger">Chile</span>
    <span class="badge rounded-pill bg-warning">Colombia</span>
    <span class="badge rounded-pill bg-info">Grecia</span>
    <span class="badge rounded-pill bg-dark">Nepal</span>
    <span class="badge rounded-pill bg-primary">Camerun</span>
    <span class="badge rounded-pill bg-secondary">Finlandia</span>
    <span class="badge rounded-pill bg-success">Suecia</span>
 </div>
</div>